<div class="aside">
  <div class="container-fluid">
    <nav>
      <ul>
        <li><a routerLink="/students" routerLinkActive="active"><span><i class="fa-solid fa-user-graduate"></i></span>
          Students</a></li>
        <li><a routerLink="/courses" routerLinkActive="active"><span><i class="fa-solid fa-receipt"></i></span> Courses</a>
        </li>
        <li><a routerLink="/teachers" routerLinkActive="active"><span><i class="fa-solid fa-user-graduate"></i></span>
          Instructors</a></li>
      </ul>
    </nav>
  </div>
</div>
