<div class="container-fluid">
  <div class="box">
    <div class="box-header">
      <div class="box-header-grid">
        <div class="box-header-title">Courses</div>
        <div class="box-header-button">
          <div class="btn-group btn-group-sm">
            <div class="btn btn-sm btn-primary-gradient" (click)="getModal(content)">new course</div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-content">
      <ng-container *ngIf="pageCourses$ | async as listCourses; else failureOrLoading">
        <div *ngIf="searchFormGroup" class="mb-2">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCourses()">
            <div class="input-group w-25">
              <input type="search" formControlName="keyword" class="form-control rounded mx-2" placeholder="Search"
                aria-label="Search" />
              <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
          </form>
        </div>
        <table class="table table-striped table-hover" id="example" style="width:100%">
          <thead>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Course Duration</th>
              <th>Course Description</th>
              <th>Instructor</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of listCourses.content">
              <td>{{ course.courseId }}</td>
              <td>{{ course.courseName }}</td>
              <td>{{ course.courseDuration }}</td>
              <td>{{ course.courseDescription }}</td>
              <td>{{ course.instructorDTO.lastName }} {{ course.instructorDTO.firstName }}</td>
              <td>
                <button (click)="handleDeleteCourse(course)" class="btn btn-danger">
                  <i class="bi-trash"></i>
                </button>
              </td>
              <td>
                <button (click)="getUpdateModel(course, updateContent)" class="btn btn-success">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Course Duration</th>
              <th>Course Description</th>
              <th>Instructor</th>
              <th>Actions</th>
            </tr>
          </tfoot>
        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(listCourses.totalPages); let page=index">
            <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="gotoPage(page)"
              class="btn mb-1 ms-1 mt-1">{{page}}</a>
          </li>
        </ul>
      </ng-container>
      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
          <div class="text-danger">
            {{errorMessage}}
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="loader shadow-sm text-muted">
            <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
<!--<div class="loader shadow-sm text-muted">
  <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
</div>
-->
<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title text-muted"><i class="fa-regular fa-circle-dot"></i>&nbsp; Course Form</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <ng-container *ngIf="instructors$ | async as listInstructors; else modalFailureOrLoading">
    <form [formGroup]="courseFormGroup" method="post">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Course Name</label>
              <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                [ngClass]="{'is-invalid': submitted && courseFormGroup.controls['courseName'].errors}"
                formControlName="courseName">
              <div *ngIf="submitted && courseFormGroup.controls['courseName'].errors" class="invalid-feedback">
                <div *ngIf="courseFormGroup.controls['courseName'].errors['required']">
                  Course Name is Required
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Course Duration</label>
              <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                [ngClass]="{'is-invalid': submitted && courseFormGroup.controls['courseDuration'].errors}"
                formControlName="courseDuration">
              <div *ngIf="submitted && courseFormGroup.controls['courseDuration'].errors" class="invalid-feedback">
                <div *ngIf="courseFormGroup.controls['courseDuration'].errors['required']">
                  Course Duration is Required
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Course Description</label>
              <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                [ngClass]="{'is-invalid': submitted && courseFormGroup.controls['courseDescription'].errors}"
                formControlName="courseDescription">
              <div *ngIf="submitted && courseFormGroup.controls['courseDescription'].errors" class="invalid-feedback">
                <div *ngIf="courseFormGroup.controls['courseDescription'].errors['required']">
                  Course Description is Required
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Instructor</label>
              <select class="form-select form-font rounded-0 mt-1 mb-3"
                [ngClass]="{'is-invalid': submitted && courseFormGroup.controls['instructorDTO'].errors}"
                formControlName="instructorDTO">
                <option [ngValue]="null" disabled>Choose Instructor</option>
                <option *ngFor="let i of listInstructors" [ngValue]="i">{{i.firstName}} {{i.lastName}}</option>
              </select>
              <div *ngIf="submitted && courseFormGroup.controls['instructorDTO'].errors" class="invalid-feedback">
                <div *ngIf="courseFormGroup.controls['instructorDTO'].errors['required']">
                  Instructor is Required
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="onCloseModal(modal)">Close</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="saveCourse(modal)">Save changes</button>
      </div>
    </form>
  </ng-container>
  <ng-template #modalFailureOrLoading>
    <ng-container *ngIf="errorInstructorMessage; else modalLoading">
      <div class="text-danger">
        {{errorInstructorMessage}}
      </div>
    </ng-container>
    <ng-template #modalLoading>
      <div class="loader shadow-sm text-muted">
        <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #updateContent let-updateModal>
    <div class="modal-header">
      <div class="modal-title text-muted"><i class="fa-regular fa-circle-dot"></i>Update Course Form</div>
      <button type="button" class="btn-close" aria-label="Close" (click)="updateModal.dismiss('Cross click')"></button>
    </div>
    <ng-container *ngIf="instructors$ | async as listInstructors; else modalFailureOrLoading">
      <form [formGroup]="updateCourseFormGroup" method="post">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="text-muted">Course Id</label>
                <input type="text" class="form-control form-font rounded-0 mt-1 mb-3" formControlName="courseId"
                  readonly>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="text-muted">Course Name</label>
                  <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                    [ngClass]="{'is-invalid': submitted && updateCourseFormGroup.controls['courseName'].errors}"
                    formControlName="courseName">
                  <div *ngIf="submitted && updateCourseFormGroup.controls['courseName'].errors"
                    class="invalid-feedback">
                    <div *ngIf="updateCourseFormGroup.controls['courseName'].errors['required']">
                      Course Name is Required
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label class="text-muted">Course Duration</label>
                  <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                    [ngClass]="{'is-invalid': submitted && updateCourseFormGroup.controls['courseDuration'].errors}"
                    formControlName="courseDuration">
                  <div *ngIf="submitted && updateCourseFormGroup.controls['courseDuration'].errors"
                    class="invalid-feedback">
                    <div *ngIf="updateCourseFormGroup.controls['courseDuration'].errors['required']">
                      Course Duration is Required
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label class="text-muted">Course Description</label>
                  <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
                    [ngClass]="{'is-invalid': submitted && updateCourseFormGroup.controls['courseDescription'].errors}"
                    formControlName="courseDescription">
                  <div *ngIf="submitted && updateCourseFormGroup.controls['courseDescription'].errors"
                    class="invalid-feedback">
                    <div *ngIf="updateCourseFormGroup.controls['courseDescription'].errors['required']">
                      Course Description is Required
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label class="text-muted">Instructor</label>
                  <select class="form-select form-font rounded-0 mt-1 mb-3"
                    [ngClass]="{'is-invalid': submitted && updateCourseFormGroup.controls['instructorDTO'].errors}"
                    formControlName="instructorDTO">
                    <option [defaultSelected]=true [ngValue]="defaultInstructor" disabled>
                      {{defaultInstructor.firstName}} {{defaultInstructor.lastName}}</option>
                    <option *ngFor="let i of listInstructors" [ngValue]="i">{{i.firstName}} {{i.lastName}}</option>
                  </select>
                  <div *ngIf="submitted && updateCourseFormGroup.controls['instructorDTO'].errors"
                    class="invalid-feedback">
                    <div *ngIf="updateCourseFormGroup.controls['instructorDTO'].errors['required']">
                      Instructor is Required
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" (click)="onCloseModal(updateModal)">Close</button>
            <button type="button" class="btn btn-sm btn-primary" (click)="onUpdateCourse(updateModal)">Save
              changes</button>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-template #modalFailureOrLoading>
      <ng-container *ngIf="errorInstructorMessage; else modalLoading">
        <div class="text-danger">
          {{errorInstructorMessage}}
        </div>
      </ng-container>
      <ng-template #modalLoading>
        <div class="loader shadow-sm text-muted">
          <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
        </div>
      </ng-template>
    </ng-template>
  </ng-template>
