<div class="container-fluid">
  <div class="box">
    <div class="box-header">
      <div class="box-header-grid">
        <div class="box-header-title">Instructors</div>
        <div class="box-header-button">
          <div class="btn-group btn-group-sm">
            <div class="btn btn-sm btn-primary-gradient" (click)="getModal(content)">new instructor</div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-content">
      <ng-container *ngIf="pageInstructors | async as listInstructors; else failureOrLoading">
        <div *ngIf="searchFormGroup" class="mb-2">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchInstructors()">
            <div class="input-group w-25">
              <input type="search" formControlName="keyword" class="form-control rounded mx-2" placeholder="Search"
                aria-label="Search">
              <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
          </form>
        </div>
        <table class="table table-striped table-hover" id="example" style="width:100%">
          <thead>
            <tr>
              <th style="text-align: center;">Instructor Id</th>
              <th style="text-align: center;">Instructor First Name</th>
              <th style="text-align: center;">Instructor Last Name</th>
              <th style="text-align: left;">Instructor Summary</th>
              <th style="text-align: right;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of listInstructors.content">
              <td style="text-align: center; vertical-align: middle;">{{i.instructorId}}</td>
              <td style="text-align: center; vertical-align: middle;">{{i.firstName}}</td>
              <td style="text-align: center; vertical-align: middle;">{{i.lastName}}</td>
              <td>{{i.summary}}</td>
              <td>
                <button (click)="handleDeleteInstructor(i)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
              <td>
                <button (click)="getCoursesModal(i, coursesContent)" class="btn btn-primary-gradient">
                  Courses
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th style="text-align: center;">Instructor Id</th>
              <th style="text-align: center;">Instructor First Name</th>
              <th style="text-align: center;">Instructor Last Name</th>
              <th>Instructor Summary</th>
              <th style="text-align: center;">Actions</th>
            </tr>
          </tfoot>
        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(listInstructors.totalPages); let page=index">
            <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="gotoPage(page)"
              class="btn mb-1 ms-1 mt-1">{{page}}</a>
          </li>
        </ul>
      </ng-container>
      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
          <div class="text-danger">
            {{errorMessage}}
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="loader shadow-sm text-muted">
            <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <div class="modal-title text-muted"><i class="fa-regular fa-circle-dot"></i>&nbsp; Instructor Form</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="instructorFormGroup" method="post">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">First Name</label>
            <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
              [ngClass]="{'is-invalid':submitted && instructorFormGroup.controls['firstName'].errors}"
              formControlName="firstName">
            <div *ngIf="submitted && instructorFormGroup.controls['firstName'].errors" class="invalid-feedback">
              <div *ngIf="instructorFormGroup.controls['firstName'].errors['required']">First Name is Required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Last Name</label>
            <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
              [ngClass]="{'is-invalid':submitted && instructorFormGroup.controls['lastName'].errors}"
              formControlName="lastName">
            <div *ngIf="submitted && instructorFormGroup.controls['lastName'].errors" class="invalid-feedback">
              <div *ngIf="instructorFormGroup.controls['lastName'].errors['required']">Last Name is Required</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="text-muted">Summary</label>
            <input type="text" class="form-control form-font rounded-0 mt-1 mb-3"
              [ngClass]="{'is-invalid':submitted && instructorFormGroup.controls['summary'].errors}"
              formControlName="summary">
            <div *ngIf="submitted && instructorFormGroup.controls['summary'].errors" class="invalid-feedback">
              <div *ngIf="instructorFormGroup.controls['summary'].errors['required']">Summary is Required</div>
            </div>
          </div>
        </div>
        <div formGroupName="userDTO">
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Email</label>
              <input type="email" class="form-control form-font rounded-0 mt-1 mb-3"
                [ngClass]="{'is-invalid':submitted && instructorFormGroup.get('userDTO.email')?.errors}"
                formControlName="email">
              <div *ngIf="submitted && instructorFormGroup.get('userDTO.email')?.errors" class="invalid-feedback">
                <div *ngIf="instructorFormGroup.get('userDTO.email')!.errors?.['required']">Email is Required</div>
                <div *ngIf="instructorFormGroup.get('userDTO.email')!.errors?.['pattern']">Please enter a valid Email
                </div>
                <div *ngIf="instructorFormGroup.get('userDTO.email')!.errors?.['emailAlreadyExist']">Email Already
                  Exists</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="text-muted">Password</label>
              <input type="password" class="form-control form-font rounded-0 mt-1 mb-3"
                [ngClass]="{'is-invalid':submitted && instructorFormGroup.get('userDTO.password')?.errors}"
                formControlName="password">
              <div *ngIf="submitted && instructorFormGroup.get('userDTO.password')?.errors" class="invalid-feedback">
                <div *ngIf="instructorFormGroup.get('userDTO.password')!.errors?.['required']">Password is Required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-secondary" (click)="onCloseModal(modal)">Close</button>
      <button type="button" class="btn btn-sm btn-primary" (click)="onSaveInstructor(modal)">Save changes</button>
    </div>
  </form>
</ng-template>
<ng-template #coursesContent let-coursesModal>
  <div class="modal-header">
    <div class="modal-title text-muted"><i class="fa-regular fa-circle-dot"></i>&nbsp; Instructor Courses</div>
    <button type="button" class="btn-close" aria-label="Close" (click)="coursesModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="box-content">
      <ng-container *ngIf="pageCourses$ | async as listCourses; else coursesErrorMessage">
        <table class="table table-striped table-hover" id="example" style="width:100%">
          <thead>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Course Duration</th>
              <th>Course Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of listCourses.content">
              <td>{{ course.courseId }}</td>
              <td>{{ course.courseName }}</td>
              <td>{{ course.courseDuration }}</td>
              <td>{{ course.courseDescription }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Course ID</th>
              <th>Course Name</th>
              <th>Course Duration</th>
              <th>Course Description</th>
            </tr>
          </tfoot>
        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(listCourses.totalPages); let page=index">
            <a [ngClass]="page==coursesCurrentPage?'btn-info':'btn-outline-info'" (click)="gotoCoursesPage(page)"
              class="btn mb-1 ms-1 mt-1">{{page}}</a>
          </li>
        </ul>
      </ng-container>
      <ng-template #coursesErrorMessage>
        <ng-container *ngIf="errorMessage; else loading">
          <div class="text-danger">
            {{errorMessage}}
          </div>
        </ng-container>
        <ng-template #loading>
          <div class="loader shadow-sm text-muted">
            <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>

</ng-template>
