<div class="container-fluid">
    <div class="box">
        <div class="box-header">
            <div class="box-header-grid">
                <div class="box-header-title">These are your current subscriptions</div>
            </div>
        </div>
        <div class="box-content">
            <ng-container *ngIf="pageCourses | async as listCourses; else failureOrLoading">
                <table class="table table-striped table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Course Id</th>
                            <th>Course Name</th>
                            <th>Course Duration</th>
                            <th>Course Description</th>
                            <th>Instructor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of listCourses.content">
                            <td>{{c.courseId}}</td>
                            <td>{{c.courseName}}</td>
                            <td>{{c.courseDuration}}</td>
                            <td>{{c.courseDescription}}</td>
                            <td>{{c.instructorDTO.firstName}} {{c.instructorDTO.lastName}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Course Id</th>
                            <th>Course Name</th>
                            <th>Course Duration</th>
                            <th>Course Description</th>
                            <th>Instructor</th>
                        </tr>
                    </tfoot>
                </table>
            </ng-container>
            <ng-template #failureOrLoading>
                <ng-container *ngIf="errorMessage ; else loading">
                    <div class="text-danger">
                        {{errorMessage}}
                    </div>
                </ng-container>
                <ng-template #loading>
                    <div class="loader shadow-sm text-muted">
                        <span><i class="fa-solid fa-rotate fa-spin"></i></span> &nbsp; <span>Processing...</span>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>