<header class="shadow-sm">
  <div class="header" id="header">
    <div class="aside-header">
      <div class="container-fluid"><span><i class="fa-brands fa-java"></i></span> &nbsp;SandeepBegudem</div>
    </div>
    <div class="main-header">
      <div class="container-fluid">
        <div class="main-header-menu">
             <div class="bread">
                <span class="text-muted">Course King!</span>
             </div>

          <div class="top-menu ">
            <ul>
              <li><a routerLink="/"><i class="fa-solid fa-circle-user"></i>&nbsp; Admin </a></li>
              <li><a routerLink="/login.html"><i class="fa-solid fa-right-from-bracket"></i>&nbsp; Signout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
